/* @override 
	http://www.appsaloon.be/testsite/as_mediabox/AS.css */
@import url(http://fonts.googleapis.com/css?family=Nunito:300);

body{
	background-color: #d0d7db;
	font: 300 14px 'Nunito', sans-serif;
	color: #000078;
}

.container{
	background-color: #ffffff;
	width: 960px;
	margin: 20px auto;
	padding: 20px;
	border-radius: 20px;
	border: 1px solid #e0e0e0;
	-moz-box-shadow: -1px -1px 1px #ffffff, inset 1px 1px 1px #acabab, 2px 3px 10px rgba(0, 0, 0, 0.29);
	-webkit-box-shadow: -1px -1px 1px #ffffff, inset 1px 1px 1px #acabab, 2px 3px 10px rgba(0, 0, 0, 0.29);
	box-shadow: -1px -1px 1px #ffffff, inset 1px 1px 1px #acabab, 2px 3px 10px rgba(0, 0, 0, 0.29);
	opacity: 1;
}
.footer{
	width: 960px;
	margin: -10px auto;
	text-align: center;
	font-size: 11px;
	color: #74a0b9;
	text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.58);
}
a{
	color: red;
}
h1{
	font-weight: bold;
	font-size: 50px;
	border-bottom: 4px solid red;
	margin-top: 0;
	padding-bottom: 15px;
}

.demo_button a{
	color: red;
	text-decoration: none;
	font-size: 25px;
	border: 1px solid red;
	border-radius: 15px;
	padding: 3px 10px 3px 38px;
	margin: 10px 0px;
	display: block;
}
.note{
	background-color: #fcfed0;
	font-style: italic;
	margin-bottom: 5px;
}

code{
	background-color: #f0f0f0;
}